@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-primary: #2563eb;
  --color-secondary: #f3f4f6;

  --color-bg-dark: #0f172a;
  --color-text-dark: #f8fafc;
  --color-primary-dark: #3b82f6;


}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}
